@import "../../build/internal.css";

:host, :root {
  --f-font: Lato, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#app__content {
  transform: translateZ(0);
}

.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 100%;
  max-height: 200px;
  text-align: center;
}

.page-loading div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

